 /* Font */
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
 /* font-family: 'Inter', sans-serif; */
 :root{


/* ## Colors */

/* ### Primary */

--Lime-Green: hsl(163, 72%, 41%);
--Bright-Red: hsl(356, 69%, 56%);

--Facebook: hsl(208, 92%, 53%);
--Twitter: hsl(203, 89%, 53%);
--Instagram: linear gradient #fdc468 to #df4996;
--YouTube: hsl(348, 97%, 39%);

/* #### Dark Theme */

--Toggle-Dark-Theme: linear gradient #378fe6 to #3eda82;

/* #### Light Theme */

--Toggle: hsl(230, 22%, 74%);
/* ### Neutral */

/* #### Dark Theme */
--Very-Dark-Blue-BG: hsl(230, 17%, 14%);
--Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
--Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
--Desaturated-Blue-Text: hsl(228, 34%, 66%);
--White-Text: hsl(0, 0%, 100%);

/* #### Light Theme */
  --White-BG: hsl(0, 0%, 100%);
--Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
--Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
--Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
--Very-Dark-Blue-Text: hsl(230, 17%, 14%);



}








@media (min-width: 375px) {


  body{
    font-family: 'Inter', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  body .OverView{
    color: black;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            /* align-items: center; */
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* margin: 1rem; */
  }
  header .ContainerText {
   text-align:left;
    padding: 1rem;
    border-bottom: 1px solid var(--Dark-Grayish-Blue-Text);
  }
  header .ContainerText h1 {
    font-size: 1.5rem;
    margin: 0;
  }
  header .containerBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            justify-content: space-between;
            width:320px;
            margin: 0.5rem;
  }
  header .containerBtn span{
    color: var(---Desaturated-Blue-Text);
  }
  header .containerBtn .switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 29px;
    margin: 0rem 1rem;
  }
  header .containerBtn .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  header .containerBtn .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  header .containerBtn .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 30px;
    bottom: 4px;
    background-color:var(--White-BG);
    -webkit-transition: .4s;
    transition: .4s;
  }
  header .containerBtn input:checked + .slider::before{
    background-color: var(--Very-Dark-Blue-BG);
  }
  header .containerBtn input:checked + .slider {
    background-image: linear-gradient(90deg, rgba(55,143,230,1) 0%, rgba(62,218,130,1) 100%);
  }
  header .containerBtn input:focus + .slider {
    -webkit-box-shadow: 0 0 1px #2196F3;
            box-shadow: 0 0 1px #2196F3;
  }
  header .containerBtn input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    transform: translateX(-27px);
  }
  header .containerBtn .slider.round {
    border-radius: 34px;
  }
  header .containerBtn .slider.round:before {
    border-radius: 50%;
  }
  .SectionCardsFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .SectionCardsFlex div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 1rem;
    background-color: var(--Light-Grayish-Blue-Card-BG);
  }
  .SectionCardsFlex .FacebookBox{
    border-width: 1rem;
    border-top: 4px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: var(--Facebook);
    
  }
  .SectionCardsFlex .TwitterBox{
    border-width: 1rem;
    border-top: 4px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: var(--Twitter);
  }
  .SectionCardsFlex .instagramBox{
    border-width: 1rem;
    border-top: 4px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-image: linear-gradient(to right, #fdc468, #df4996) 1;
  }
  .SectionCardsFlex .YoutubeBox{
    border-width: 1rem;
    border-top: 4px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: var(--YouTube);
  }
  .SectionCardsFlex h2.Dark-Theme{
    color: var(--White-Text);
  }
  .SectionCardsFlex h2{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
  }
  .SectionCardsFlex div .textPerson{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    font-weight: 700;
  color:var(--Dark-Grayish-Blue-Text);
  }
  .SectionCardsFlex div .follows{
    color: var(--Dark-Grayish-Blue-Text);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin:0.5rem 0rem 1rem 0rem;
  }
  .SectionCardsFlex div .textPerson img{
    width: 1.5rem;
    margin: 0rem 0.5rem;
  }
  .SectionCardsFlex div span{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    color: var(--Lime-Green);
    font-weight: 700;
    margin: 0.5rem;
  }
  .SectionCardsFlex div .redText{ 
    color: var(--Bright-Red);
  }
  .SectionCardsFlex div span img{
    width: 0.5rem;
    height: 0.5rem;
    margin: 0rem 0.6rem;
  }
  .TodaySection{
    display: flex;
    flex-direction: column;
  }
  .TodaySection h2{
    margin: 1rem;
  }
  .TodaySection .BoxStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 0.6rem;
    background-color: var(--Light-Grayish-Blue-Card-BG);
    margin: 1rem;
    border-radius: 5px;
  }
  .TodaySection .BoxStatus .DataBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    justify-content: space-between;
    margin: 1rem;

  }
  .TodaySection .BoxStatus .DataBox span{
    font-weight: 700;
    color: var(--Dark-Grayish-Blue-Text);

  }
  .TodaySection .BoxStatus .DataNumbers{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    justify-content: space-between;
    margin: 1rem;
  }
  .TodaySection .BoxStatus .DataNumbers  span{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    color: var(--Lime-Green);
    font-weight: 700;
  }
  .TodaySection .BoxStatus .DataNumbers .Data{
    font-size: 2.4rem;
    color: black;
  }
  .TodaySection .BoxStatus .DataNumbers  span img {
    margin: 0rem 0.3rem;
  }
  .TodaySection .BoxStatus .DataNumbers .textRed{
    color: var(--Bright-Red);
  }
  

  .Dark-Theme{
    transition:  1.2s;
  }
  .Light-Theme{
    transition: 1.2s;
  }
  
  /* Light-Theme */
  .Light-Theme .SectionCardsFlex div{
    background-color: var(--Light-Grayish-Blue-Card-BG);
  }
  

  /* Dark-Theme */
  body.Dark-Theme{
      background-color: var(--Very-Dark-Blue-BG);
    }
  body.Dark-Theme .OverView{
    color: var(--White-Text);
  }
  .Dark-Theme .TodaySection h2{
    color: var(--White-Text);
  }
  .Dark-Theme .TodaySection .BoxStatus .DataNumbers .Data{
    color: var(--White-Text);
  }
  .Dark-Theme .SectionCardsFlex div h2{
    color: var(--White-Text);
  }
  .Dark-Theme .SectionCardsFlex div ,.Dark-Theme .TodaySection .BoxStatus{
    background-color: var(--Dark-Desaturated-Blue-Card-BG);
  }
  .Dark-Theme header .ContainerText h1{
    color: var(--White-Text);
  }
  .Dark-Theme header .ContainerText span{
    color: var(--Desaturated-Blue-Text);
  }
  .Dark-Theme header .containerBtn .Dark{
    color: var(--Desaturated-Blue-Text);
  }
}


@media (min-width: 1024px){
  body{
    display: block;
  }
  header{
    flex-direction: row;
  }
  header .ContainerText{
    border: none
  }
  header .containerBtn{
    width: auto;
  }
  .SectionCardsFlex{
   flex-direction: row;
  }
  .TodaySection{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    justify-content: center;
  }
  .TodaySection .BoxStatus{
    width: fit-content;
  }
}
@media(min-width: 1366px){
  .TodaySection{
    grid-template-columns: auto auto auto auto;
    
  }
}
/*# sourceMappingURL=style.css.map */
